@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/main.css');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300;400;500;600&display=swap');

body {
  @apply bg-black m-0 overflow-hidden h-screen;
  font-family: 'Anuphan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/images/background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#root {
  @apply h-full;
}

.content-wrap {
  background: linear-gradient(345deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 70%);
}
