@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./styles/main.css');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;500;600;700&display=swap');

*,
html {
  scroll-behavior: smooth !important;
}

body {
  @apply bg-background text-black m-0 text-sm scroll-smooth overflow-hidden max-h-screen;
  font-family: 'Anuphan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply h-full overflow-y-auto;
}

.content-wrap {
  @apply flex flex-col overflow-hidden h-screen;
}

.section-content {
  @apply h-full mt-16 tablet:mt-20 overflow-y-auto pb-8;
  background-image: url('./assets/images/background.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
